.card {
  justify-content: right;
  font-family: "Montserrat", sans-serif;
}
h2 {
  justify-content: right;
  font-family: "Montserrat", sans-serif;
}
p {
  justify-content: right;
  font-family: "Montserrat", sans-serif;
}
